.container{
    background-image: url("Charte/BACKGROUND/bande milieu.png");
}

#div3Bandes {

    background-image: url("Charte/HEADER/3 bandes.png");
}

.tous{


}
body{


    background-image: url("Charte/BACKGROUND/background village.png");
}
